    <head>
    <link rel="stylesheet" href="/assets/css/navigation.css">
    </head>

    <header>
        <nav class="container">
            <div class="navigation" id="myname">
                <a href="/">Matthew Nguyen</a>
            </div>

            <div class="navigation" id="links">
                <a href="/blog">Blog</a>
                <a href="{{site.github_link}}">Github</a>
                <a href="mailto:{{site.contact_link}}">Contact Me</a>
            </div>
        </nav>
    </header>
    <hr>
