@import "monokai.css";

:root {
    --background: #262626;
    --foreground: white;
    --code-background: #404040;
    --link: #2c8dfd;
    --visited-link: #b19cd9;
}

body {
    font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #262626;
    color: white;
    font-size: 1.2rem;
    line-height: 1.4em;
}

article {
    margin: 0 20%;
    border-bottom: solid 1px rgb(207, 201, 201);
    padding-top: 2rem;
}

h1 {
    padding-bottom: 9px;
    font-size: 2rem;
    border-bottom: 2px gray solid;
}

h1, h2, h3, h4, h5, strong {
    letter-spacing: 1px;
}

p {
    font-size: 1.15rem;
}

li {
    line-height: 1.4rem;
}

blockquote {
    border-left: 5px gray solid;
    margin: 0;
    padding-left: 1rem;
    color: lightgray;
}

table, th, td {
    border: 1px solid white;
    padding: 15px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

p > code, li > code {
    background-color: var(--code-background);
    padding: 2px;
}

pre {
    background-color: var(--code-background);
    padding: 1rem;
}

article a:visited {
    color: var(--visited-link)
}


article a:link {
    color: var(--link);
}

article a:hover {
    color: gray;
}

img {
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
    display: block;
}

@media only screen and (min-width: 300px) and (max-width: 719px) {
    article {margin: 0%;}
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
    article {margin: 0;}
}
